@font-face {
  font-family: "DisketMono";
  src: local("DisketMono"),
    url("../fonts/Disket-Mono-Regular.ttf") format("truetype");
  font-weight: bold;
}

.container {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  font-family: "DisketMono", monospace;
}

.heading {
  color: rebeccapurple;
}

.profile-pic {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border-color: rebeccapurple;
  border-width: 6px;
  border-style: ridge;
}

.nav-links {
  background-color: black;
  width: 100%;
  display: flex;
  list-style: none;
  padding-left: 2px;
  padding-bottom: 5px;
  padding-top: 4px;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
}

.project-container {
  display: inline-grid;
  width: 100%;
  grid-template-columns: 9% 40% 2% 40% 9%;
  grid-template-rows: auto;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    ". npc . manager ."
    ". npclink . managerlink ."
    ". character . story ."
    ". characterlink . storylink .";
}

.npc-image {
  grid-area: npc;
  /* width: 400px;
  height: 200px; */
  max-width: max-content;
  height: max-content;
  justify-self: center;
  object-fit: scale-down;
  object-position: center;
}

.character-image {
  grid-area: character;
  justify-self: center;
  max-width: max-content;
  height: max-content;
  object-fit: scale-down;
  object-position: center;
}

.story-image {
  grid-area: story;
  justify-self: center;
  /* width: 400px;
  height: 220px; */
  max-width: max-content;
  height: max-content;
  object-fit: scale-down;
  object-position: center;
}

.manager-image {
  grid-area: manager;
  /* width: 400px;
  height: 200px; */
  max-width: max-content;
  height: max-content;
  justify-self: center;
  object-fit: scale-down;
  object-position: center;
}

.npc-link {
  grid-area: npclink;
  text-align: center;
  color: rgb(0, 0, 0);
}

.character-link {
  grid-area: characterlink;
  text-align: center;
  color: rgb(0, 0, 0);
}

.story-link {
  grid-area: storylink;
  text-align: center;
  color: rgb(0, 0, 0);
}

.manager-link {
  grid-area: managerlink;
  text-align: center;
  color: rgb(0, 0, 0);
}

.about-me {
  justify-items: center;
  max-width: 800px;
  color: rgb(3, 3, 3);
  margin: auto;
}

.social-container {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  font-family: "DisketMono", monospace;
}

.social-link {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  max-width: 1000px;
  width: 50px;
  height: 50px;
}

.fieldset-social {
  padding: 20px;
  max-width: 70px;
  display:inline-block;
  border-style: none;
}

.skill-container {
  text-align: center;
  margin: auto;
  max-width: 1000px;
  font-family: "DisketMono", monospace;
}

.skill-title {
  text-align: center;
  padding: 10px;
  margin: auto;
}

.skill-description {
  padding: 0%;
  max-width: 30%;
}

.fieldset-skill1 {
  margin-left: 40px;
  padding: 20px;
  float: left;
  border-style: none;
  text-align: center;
}
.fieldset-skill2 {
  margin-right: 40px;
  padding: 20px;
  float: right;
  border-style: none;
  text-align: center;
}

.skill-image {
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: auto;
  width: 100px;
  height: 100px;
}