.container {
    margin: auto;
    max-width: 1000px;
    font-family: sans-serif;
  }

  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    background-color: black;
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 2px;
    padding-bottom: 5px;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: rgb(255, 255, 255);
  }

  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
  }

  .project-container {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: auto; 
    column-gap: 10px;
    row-gap: 15px;
    grid-template-areas: 
    ". npc . story ."
    ". npclink . storylink ." 
    ". character . . . "
    ". characterlink . . ." 
    ;
  }
  
    .npc-image {
      grid-area: npc;
      width: 400px;
      height: 200px;
      justify-self: center;
      object-fit: scale-down;
    }
  
  .character-image {
    grid-area: character;
    width: 400px;
    height: 100%;
    justify-self: center;
    object-fit: scale-down;
  }

  .story-image {
    grid-area: story;
    justify-self: center;
    width: 400px;
    height: 200px;
    object-fit: scale-down;
  }

  .npc-link {
    grid-area: npclink;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .character-link {
    grid-area: characterlink;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .story-link {
    grid-area: storylink;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  hr {
    height: 10px;
    width: 100%;
    background-color: black;
  }
